

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eef8ff;
}
footer{
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,#000428, #004e92 );  
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    position: relative;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    padding-left: 20px;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;
}
form button .far{
    font-size: 16px;
    color: #ccc;
}
.social-icon .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgb(42, 29, 226);
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;

}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 15%;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 10px;
}
.underline{
    width: 100%;
    background: #767676;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 40%;
    height: 15px;
    background: #fff;
    border-radius: 3px;
    position:absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2),.col:nth-child(3){
        flex-basis: 100%;
    }
    .copyright{
        text-align: center;
        position: absolute;
        left:  93px;
    }
}







